<link rel="stylesheet" href="Artificial/artificial.css" />
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Artificial Acquisitions</h1>
            <h3>The wormholers guide</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <p>
                Artifical Acqusitions is a corporation that strives to allow players to set and obtain their own goals. 
                We try to enable players to have the freedom to do what they want, when they want, and how they want.
                However there are times when we must follow specific procedures for the safety of everyone involved, and wormholes just happen to be one of those cases.
                The goal of these procedures is not to limit what you as a player can do, but instead to help ensure the safety of you, your ship, and your precious cargo.
            </p>
            <p>
                This page will provide information to form a cohesive set of rules that will maximize corp and individual member's experience in WSpace, and help ensure the safety of our people.
            </p>
        </div>
    </div>

    <h2>Rules and Procedures</h2>

    <div class="container table-row">
        <div ng-click="youWillDieActive = !youWillDieActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!youWillDieActive" class="fas fa-chevron-right"></i>
                <i ng-show="youWillDieActive" class="fas fa-chevron-down"></i>
                <h3>You. Will. Die.</h3>
            </div>
        </div>
        <div ng-show="youWillDieActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    This is just an unfortunate fact about wormhole space. Like null-sec there are no restrictions on PvP combat, other then the ship limitations provided by wormholes themselves. 
                    This means that anybody who is not docked is a target for someone with an twitchy trigger finger. 
                    Never fly anything you aren't willing to lose, and always be prepared to lose it. 
                    Never blame others for not defending you, watching the hole closely enough, or anything of the such.
                    Don't blame yourself for the same reasons.
                    Wormholes are dangerous places, and death is unavoidable.
                </p>
            </div>
        </div>
    </div>

    <div class="container table-row">
        <div ng-click="safetyActive = !safetyActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!safetyActive" class="fas fa-chevron-right"></i>
                <i ng-show="safetyActive" class="fas fa-chevron-down"></i>
                <h3>Safety not Gaurenteed</h3>
            </div>
        </div>
        <div ng-show="safetyActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    Similar to the section "You. Will. Die." it's important to call out that your safety is not gaurenteed. 
                    If you get complacent or comfortable, and start losing attention to the game, things can get ugly fast.
                </p>
                <p>
                    Stay alert, stay active, and don't get caught off guard. 
                </p>
            </div>
        </div>
    </div>


    <div class="container table-row">
        <div ng-click="dScanActive = !dScanActive;" class="row table-header">
            <div class="col-sm-12 ">
                <i ng-show="!dScanActive" class="fas fa-chevron-right"></i>
                <i ng-show="dScanActive" class="fas fa-chevron-down"></i>
                <h3>Use D-Scan</h3>
            </div>
        </div>
        <div ng-show="dScanActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    Wormholes do not offer any way to see who is in the system with you.
                    The only way to be aware of your surroundings is to use the Direction Scanner tool.
                    This tool is not infalable, simple counter measures like cloaking devices can easily negate it's effectiveness, but it's still the best way to know when danger is coming.
                </p>
                <p>
                    If you have never used the D-Scanner before, then let me tell you the basics. You can open it by hitting <i>V</i> on your keyboard, or clicking the scanners button to the left of your capacitor while in space.
                    Set the tool to scan the maximum range, as well as 360 degrees around your ship.
                    Make sure your overview shows all ship types, as the D-Scan uses the same settings as it.
                    Finally, Click "Scan" or hit V on your keyboard. Make sure to constantly check D-Scan while inside of the wormhole!
                </p>
            </div>
        </div>
    </div>

    <div class="container table-row">
        <div ng-click="nameShipActive = !nameShipActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!nameShipActive" class="fas fa-chevron-right"></i>
                <i ng-show="nameShipActive" class="fas fa-chevron-down"></i>
                <h3>Name Your ship</h3>
            </div>
        </div>
        <div ng-show="nameShipActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    The name of your ship should be changed for 2 very important reasons. 
                    The first being that having a ship such as "Slamma009's Porpoise" means that any player in the Wormhole now knows who they are fighting.
                    You might not think this is important, but simple information like that can lead to large implication for your safety.
                </p>
                <p>

                    The second reason is much more straight forward. If we all use the same name then anything we see on D-Scan will be known as friendly... for the most part.
                    It's not impossible that someone would copy our ship names, so just because someone shares your name doesn't mean they're a friend. Always stay alert!
                </p>
                <p><b>Current Ship Name:</b> ☣(-(-_(-_-)_-)-)☣</p>
            </div>
        </div>
    </div>

    <div class="container table-row">
        <div ng-click="localChatActive = !localChatActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!localChatActive" class="fas fa-chevron-right"></i>
                <i ng-show="localChatActive" class="fas fa-chevron-down"></i>
                <h3>Never Use Local Chat</h3>
            </div>
        </div>
        <div ng-show="localChatActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    One of the largest benefits of wormholes is that no one appears in the local chat. This is also one of the most dangerous parts about it.
                    Someone could be in your wormhole right now, cloaked up and watching you, and you would never know. 
                    By typing in local chat, you're broadcasting to everyone there, telling them "Hey, look I'm in this wormhole right now".
                    Don't give them that advantage, stay hidden, and don't use local chat.
                </p>
            </div>
        </div>
    </div>
    
    <div class="container table-row">
        <div ng-click="afkActive = !afkActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!afkActive" class="fas fa-chevron-right"></i>
                <i ng-show="afkActive" class="fas fa-chevron-down"></i>
                <h3>Don't go AFK</h3>
            </div>
        </div>
        <div ng-show="afkActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    With immenent danger all around it's important to stay alert. 
                    You should always be prepared to warp yourself to safety if the need arises.
                    This is a fact in  all of EvE, but especially in wormholes.
                    If you need to leave for a bathroom break, to grab some water, anything;
                    either warp to a safe and cloak yourself, or simply dock at the station.
                </p>
            </div>
        </div>
    </div>
    
    <div class="container table-row">
        <div ng-click="enemiesActive = !enemiesActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!enemiesActive" class="fas fa-chevron-right"></i>
                <i ng-show="enemiesActive" class="fas fa-chevron-down"></i>
                <h3>If Enemies are around. Dock. Up.</h3>
            </div>
        </div>
        <div ng-show="enemiesActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    PvPers have a different mindset then you or I. 
                    Fighting them only encourages them, killing them makes them want to come back. 
                    The best way to get rid of them is to ignore them. To dock up and wait them out.
                </p>
                <p>
                    If we've connected to a system filled with enemies, we should keep eyes on the wormhole at all times.
                    We should try to NOT show ourselves to them if possible, and certainly not engage them.
                    Rolling a wormhole with enemies on the other side will only attract attention, as those people in local will see 1 character coming in and out of their system constantly.
                    It's best not to provoke them, and instead let the wormhole die naturally over time.
                </p>
                <p>
                    If enemies are currently in our Wormhole, then unfortunately it's time to dock up.
                    It's time to log off for the day, or if possible leave the wormhole in this case.
                    The unfortunate fact is that we're not a PvP corp, and when it comes to small gang fights we're not really equiped to handle them.
                    Instead if we deny them the kill-mails that they want, they will eventually leave us alone once their wormhole naturally collapses.
                </p>
                <p>
                    To be clear, <b>this <u>does not</u> mean that PvP is not allowed</b>, and it definitely does not mean that we won't defend ourselves. 
                    Those that wish to engage in PvP with other pilots are more then welcome to do so, but be smart about your engagements.
                    If you're interested in learning more about PvP join the AA-Bootcamp chat linked in the corps MOTD.
                </p>
            </div>
        </div>
    </div>

    <div class="container table-row">
        <div ng-click="watchHolesActive = !watchHolesActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!watchHolesActive" class="fas fa-chevron-right"></i>
                <i ng-show="watchHolesActive" class="fas fa-chevron-down"></i>
                <h3>Watch the Holes</h3>
            </div>
        </div>
        <div ng-show="watchHolesActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    There's only one way in or out of a Wormhole system, through the wormholes themselves.
                    That means that as long as we have someone watching each wormhole, then theoretically no one could get the drop on us.
                    Now if you only have 1 account, then this doesn't apply to you, as no one should be forced to just sit and stare at a wormhole.
                    However if you have 2 or more accounts, then check with your corpmates to see if we have eyes on every hole, and volunteer to watch when needed!
                </p>
            </div>
        </div>
    </div>

    <div class="container table-row">
        <div ng-click="fleetUpActive = !fleetUpActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!fleetUpActive" class="fas fa-chevron-right"></i>
                <i ng-show="fleetUpActive" class="fas fa-chevron-down"></i>
                <h3>Fleet up</h3>
            </div>
        </div>
        <div ng-show="fleetUpActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    Not everyone in the corp will be in the wormhole, and all of those who are may not be paying attention to the corp chat.
                    Check for the standing fleet in the fleet finder, and if you don't see one then create one.
                    This way if someone does get tackled on a belt or a site, everyone in the hole can immedately warp to their aid. 
                </p>
            </div>
        </div>
    </div>

    <br />
    <br />

    <h2>Guides</h2>

    <div class="container table-row">
        <div ng-click="whSpaceActive = !whSpaceActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!whSpaceActive" class="fas fa-chevron-right"></i>
                <i ng-show="whSpaceActive" class="fas fa-chevron-down"></i>
                <h3>What is Wormhole Space?</h3>
            </div>
        </div>
        <div ng-show="whSpaceActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    Wormhole space, or J-Space as it's sometimes called, are solar systems that can only be reached by the use of wormholes.
                    These systems exist outside of the New Eden solar systems, and thus offer no protection or safety that your standard systems provide.
                    Similar to Null-Sec space where there's no restriction on player vs. player engagements, but wormholes come with extra danger including no local chat.
                    They offer great prosperity to players willing to adventure in to them, but with that prosperity comes great risk. 
                </p>
                <p>
                    To be continued...
                </p>
            </div>
        </div>
    </div>
    <div class="container table-row">
        <div ng-click="holeRolingActive = !holeRolingActive;" class="row table-header">
            <div class="col-sm-12">
                <i ng-show="!holeRolingActive" class="fas fa-chevron-right"></i>
                <i ng-show="holeRolingActive" class="fas fa-chevron-down"></i>
                <h3>Wormhole Rolling</h3>
            </div>
        </div>
        <div ng-show="holeRolingActive" class="row  table-body">
            <div class="col-sm-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    
</div>


