<html>
<head>
   <script src="Libs/Angular/angular-1-8-0.js"></script>
   <script type="text/javascript" src="main.js"></script>
   <link rel="stylesheet" href="main.css" />
</head>

<body ng-app="surveyScanner" ng-controller="mainController">


   <p>Survey Scan <textarea ng-change="parseSurvey(scanString)" ng-model="scanString" ></textarea></p>


   <table class="table">
      <thead>
         <tr>
            <td class = 'table-header'>Ore</td>
            <td class = 'table-header'>Amount (Units)</td>
            <td class = 'table-header'>Amount (m3)</td>
            <td class = 'table-header'>Average</td>
         </tr>
      </thead>
      <tbody ng-repeat="result in surveyResult.oreGroups">
            <tr class="table-row" ng-class="{'group1': $parent.$even, 'group2' : $parent.$odd}" ng-repeat="ore in result.ores">
               <td>{{ore.ore}}</td>
               <td class="center-align">{{ore.units | number:0}}</td>
               <td class="center-align">{{ore.amount | number:0}} m3</td>
               <td class="center-align">{{ore.average | number:0}} m3</td>
            </tr>
      </tbody>
   </table>


   <p>Toal Asteroid M3: <strong>{{surveyResult.m3 | number:0}} m3</strong></p>

</body>

</html>
