@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');


body {
    background-color: #1a1a22;
    color: #efefef;
}

.small-text {
    font-size: 14px;
}

.header { 
    background-color: #333;
    width:100%;
    overflow: hidden;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header li {
    display:inline;
}


/* Style the links inside the navigation bar */
.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(41, 41, 41);
}

/* Change the color of links on hover */
.header a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.drop-area {
    width:100%;
    background-color: rgb(22, 22, 29);
    min-height:20em;
    padding: 10px;
}

.fa-trash { 
    color: rgb(73, 52, 46);
}