<link rel="stylesheet" href="SurveyScanner/survey.css" />
<div class="container">
   <div class="row">
      <div class="col-lg-2 text-center">
         <h3>Raw Scan</h3>
         <p class="small-text">Copy the results from the survey scanner window in the EvE client and paste them here</p>
         <textarea ng-change="parseSurvey(scanString)" ng-model="scanString" ></textarea></p>
         <button class="btn btn-dark" ng-click="scanString=''; surveyResult={};">Clear</button>
      </div>
      <div class="col-lg-8">
         <div class="row">
            <div class="col">
               <h2 class=" text-center">Survey Processor</h2>
               <p class="small-text">This tool will take the results from a Survey Scanner and process them into more readable results.</p>
               <p class="small-text">
                  <b>Directions:</b> After using a survey scanner expand every category in the results window.
                  Then simple hit <i>Ctrl + A</i> to select all the results, followed by <i>Ctrl + C</i> to copy all the results.
                  Paste those results into the text area on the left, and you're done.
               </p>
            </div>
         </div>
         <br />
         <button class="btn btn-dark" ng-click="groupsOnly = !groupsOnly;">Toggle Groups</button>
         <br />
         <table class="table">
            <thead>
               <tr>
                  <td ng-show="!groupsOnly" class = 'table-header'>Ore</td>
                  <td ng-show="groupsOnly" class = 'table-header'>Ore Group</td>
                  <td class = 'table-header'>Amount (Units)</td>
                  <td class = 'table-header'>Amount (m3)</td>
                  <td class = 'table-header'>Average</td>
               </tr>
            </thead>
            <tbody ng-repeat="result in surveyResult.oreGroups">
                  <tr ng-show="groupsOnly" class="table-row" ng-class="{'group1': $even, 'group2' : $odd}">
                     <td>{{result.Group}}</td>
                     <td class="center-align">{{result.Units | number:0}}</td>
                     <td class="center-align">{{result.Amount | number:0}} m3</td>
                     <td class="center-align">{{result.Average | number:0}} m3</td>
                  </tr>
                  <tr ng-show="!groupsOnly" class="table-row" ng-class="{'group1': $parent.$even, 'group2' : $parent.$odd}" ng-repeat="ore in result.ores">
                     <td>{{ore.ore}}</td>
                     <td class="center-align">{{ore.units | number:0}}</td>
                     <td class="center-align">{{ore.amount | number:0}} m3</td>
                     <td class="center-align">{{ore.average | number:0}} m3</td>
                  </tr>
            </tbody>
         </table>
         
         
         <div class="row">
            <div class="col">

               <p>Total Asteroid M3: <strong>{{surveyResult.m3 | number:0}} m3</strong></p>
            </div>
            <div class="col text-right">
               <button class="btn btn-dark" ng-click="copyResults()">Copy Results To Clipboard</button>
            </div>
         </div>
      </div>
      <div class="col-lg-2 text-center">
         <h3>Save Scan</h3>
         <p class="small-text">These scans are only saved on this instance. Reloading the page will cause them to be lost.</p>
         <input ng-model="saveName" type="textbox" placeholder="Save Name"/>
         <div class="drop-area left-align">
            <ul>
               <li ng-repeat="save in savedResults">
                  <i class="fa fa-trash" ng-click="deleteResult($index)"></i> 
                  <a ng-click="loadResult($index)">{{$index}} - {{save.name}}</a></li>
            </ul>
         </div>
         <button class="btn btn-dark" ng-click="save()">save</button>
         <button class="btn btn-dark" ng-click="savedResults=[]">Clear</button>
      </div>
   </div>
</div>